@using Sky.Models
@model Sky.Models.Article
@{
    ViewBag.Title = Model.Title;
    ViewBag.Introduce = Model.Introduce;
}
@section Head
{
    <!-- 本页样式表 -->
    <link href="~/Content/css/detail.css" rel="stylesheet" />
    <link href="~/Scripts/plug/editormd/css/editormd.css" rel="stylesheet" />
}
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
            <a href="/" title="网站首页">网站首页</a>
            <a href="@Url.Action("Article")" title="文章专栏">文章专栏</a>
            <a><cite>@Model.Title</cite></a>
        </blockquote>
        <div class="blog-main">
            <div class="blog-main-left">
                <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                <div class="article-detail shadow">
                    <div class="article-detail-title">
                       @Model.Title
                    </div>
                    <div class="article-detail-info">
                        <span>编辑时间：@Model.EditTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                        <span>作者：@Model.Author</span>
                        <span>浏览量：@Model.Hits</span>
                    </div>
                    <div id="test-editormd-view">
                        <textarea style="display:none;" name="test-editormd-markdown-doc">  </textarea>               
                    </div>
                    @Html.HiddenFor(p=>p.Content)
              
                    @*<div class="article-detail-content">
                       @Html.Raw(Model.Content)
                    </div>*@
                </div>
                <!-- 评论区域 -->
                @*<div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                        <legend>来说两句吧</legend>
                        <div class="layui-field-box">
                            <form class="layui-form blog-editor" action="">
                                <div class="layui-form-item">
                                    <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark">提交评论</button>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <div class="blog-module-title">最新评论</div>
                    <ul class="blog-comment">
                        <li>
                            <div class="comment-parent">
                                <img src="~/Content/images/ShaDaMeng.jpg" alt="ShaDaMeng" />
                                <div class="info">
                                    <span class="username">ShaDaMeng</span>
                                    <span class="time">2017-03-18 18:46:06</span>
                                </div>
                                <div class="content">
                                    我为大家做了模拟评论功能！还有，这个评论功能也可以改成和留言一样，但是目前没改，有兴趣可以自己改
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>*@
            </div>
            <div class="blog-main-right">
                <!--右边悬浮 平板或手机设备显示-->
                <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
                <!--这个div位置不能改，否则需要添加一个div来代替它或者修改样式表-->
                <div class="article-category shadow">
                    <div class="article-category-title">分类导航</div>
                    <!-- 点击分类后的页面和artile.html页面一样，只是数据是某一类别的 -->
                    @{
                        var allClass = ArticleClass.FindAll();
                        foreach (var item in allClass)
                        {
                            <a href="@Url.Action("Article",new{articleClassId=item.Id})">@item.ClassName</a>
                        }
                    }
                    <div class="clear"></div>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">相似文章</div>
                    <ul class="fa-ul blog-module-ul">
                        @{
                            var likeArtilce = Article.FindAll(Article._.Title.Contains(Model.Title) & Article._.State == 1, "Id desc", null, 0, 3);
                            foreach (var item in likeArtilce)
                            {
                                <li><i class="fa-li fa fa-hand-o-right"></i><a href="@Url.Action("Detail",new{id=item.Id})">@item.Title</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">随便看看</div>
                    <ul class="fa-ul blog-module-ul">
                        @{
                            var rnd = Article.FindRandom(7);
                            foreach (var item in rnd)
                            {
                                <li><i class="fa-li fa fa-hand-o-right"></i><a href="@Url.Action("Detail",new{id= item.Id})">@item.Title</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/plug/editormd/lib/marked.min.js"></script>
    <script src="~/Scripts/plug/editormd/lib/prettify.min.js"></script>
    <script src="~/Scripts/plug/editormd/lib/raphael.min.js"></script>
    <script src="~/Scripts/plug/editormd/lib/underscore.min.js"></script>
    <script src="~/Scripts/plug/editormd/lib/sequence-diagram.min.js"></script>
    <script src="~/Scripts/plug/editormd/lib/flowchart.min.js"></script>
    <script src="~/Scripts/plug/editormd/lib/jquery.flowchart.min.js"></script>
    <script>
        //你也可以忽略 base 设定的根目录，直接在 extend 指定路径（主要：该功能为 layui 2.2.0 新增）
        layui.extend({
            editormd: '/Scripts/plug/editormd/editormd' // {/}的意思即代表采用自有路径，即不跟随 base 路径
        });
        layui.use(['jquery', 'editormd'],
            function() {
                var $ = layui.jquery;
                var editormd = layui.editormd;
                $(function() {                  
                    editormd.markdownToHTML("test-editormd-view",
                        {
                            markdown: $('#Content').val(), //+ "\r\n" + $("#append-test").text(),
                            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                            htmlDecode: "style,script,iframe", // you can filter tags decode
                            //toc             : false,
                            tocm: true, // Using [TOCM]
                            //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                            //gfm             : false,
                            //tocDropdown     : true,
                            // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                            emoji: true,
                            taskList: true,
                            tex: true, // 默认不解析
                            flowChart: true, // 默认不解析
                            sequenceDiagram: true // 默认不解析
                        });                         
                });

            });
    </script>
}
